.btn_icon {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    margin-left: 20px;
}

.btn_div {
    margin-top: 100px;
    width: 78px;
    height: 478px;
    justify-content: space-evenly;
    border-radius: 16px;
}

.centralizar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    color: white;
}

.main_section {
    width: 1200px;
    height: 650px;
    background-image: url("../img/buscar-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 5%;
    padding-left: 10%;
}

.input {
    width: 700px;
    height: 56px;
    background-color: #1C1E1F;
    color: white;
    font-size: large;
    border: none;
}

.font {
    font-size: 61px;
}

.icon_pesquisa {
    background-color: #1C1E1F;
    height: 50px;
    width: 56px;
    padding: 4px;
}

.div_buscar {
    display: flex;
    align-items: center;
}

body {
    background-color: #1C1E1F;
    display: flex;
    padding: 30px;
}