body{
    background-color: #1C1E1F;
    font-family: Calibri;
}
.map{
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: 0;
}
.infobar{
    position: absolute;
    justify-content: flex-end;
    z-index: 1;
}
